:root {
  --brand-0: {;
  --brand-1: ";
  --brand-2: b;
  --brand-3: r;
  --brand-4: e;
  --brand-5: a;
  --brand-6: k;
  --brand-7: p;
  --brand-8: o;
  --brand-9: i;
  --brand-10: n;
  --brand-11: t;
  --brand-12: s;
  --brand-13: ";
  --brand-14: :;
  --brand-15: {;
  --brand-16: ";
  --brand-17: d;
  --brand-18: e;
  --brand-19: s;
  --brand-20: k;
  --brand-21: t;
  --brand-22: o;
  --brand-23: p;
  --brand-24: ";
  --brand-25: :;
  --brand-26: ";
  --brand-27: 1;
  --brand-28: 0;
  --brand-29: 2;
  --brand-30: 4;
  --brand-31: p;
  --brand-32: x;
  --brand-33: ";
  --brand-34: ,;
  --brand-35: ";
  --brand-36: m;
  --brand-37: o;
  --brand-38: b;
  --brand-39: i;
  --brand-40: l;
  --brand-41: e;
  --brand-42: ";
  --brand-43: :;
  --brand-44: ";
  --brand-45: 4;
  --brand-46: 8;
  --brand-47: 0;
  --brand-48: p;
  --brand-49: x;
  --brand-50: ";
  --brand-51: ,;
  --brand-52: ";
  --brand-53: t;
  --brand-54: a;
  --brand-55: b;
  --brand-56: l;
  --brand-57: e;
  --brand-58: t;
  --brand-59: ";
  --brand-60: :;
  --brand-61: ";
  --brand-62: 7;
  --brand-63: 6;
  --brand-64: 8;
  --brand-65: p;
  --brand-66: x;
  --brand-67: ";
  --brand-68: ,;
  --brand-69: ";
  --brand-70: w;
  --brand-71: i;
  --brand-72: d;
  --brand-73: e;
  --brand-74: ";
  --brand-75: :;
  --brand-76: ";
  --brand-77: 1;
  --brand-78: 2;
  --brand-79: 8;
  --brand-80: 0;
  --brand-81: p;
  --brand-82: x;
  --brand-83: ";
  --brand-84: };
  --brand-85: ,;
  --brand-86: ";
  --brand-87: c;
  --brand-88: o;
  --brand-89: l;
  --brand-90: o;
  --brand-91: r;
  --brand-92: s;
  --brand-93: ";
  --brand-94: :;
  --brand-95: {;
  --brand-96: ";
  --brand-97: b;
  --brand-98: a;
  --brand-99: c;
  --brand-100: k;
  --brand-101: g;
  --brand-102: r;
  --brand-103: o;
  --brand-104: u;
  --brand-105: n;
  --brand-106: d;
  --brand-107: ";
  --brand-108: :;
  --brand-109: ";
  --brand-110: #;
  --brand-111: f;
  --brand-112: f;
  --brand-113: f;
  --brand-114: f;
  --brand-115: f;
  --brand-116: f;
  --brand-117: ";
  --brand-118: ,;
  --brand-119: ";
  --brand-120: p;
  --brand-121: r;
  --brand-122: i;
  --brand-123: m;
  --brand-124: a;
  --brand-125: r;
  --brand-126: y;
  --brand-127: ";
  --brand-128: :;
  --brand-129: ";
  --brand-130: #;
  --brand-131: e;
  --brand-132: 8;
  --brand-133: 7;
  --brand-134: 7;
  --brand-135: 2;
  --brand-136: 2;
  --brand-137: ";
  --brand-138: ,;
  --brand-139: ";
  --brand-140: s;
  --brand-141: e;
  --brand-142: c;
  --brand-143: o;
  --brand-144: n;
  --brand-145: d;
  --brand-146: a;
  --brand-147: r;
  --brand-148: y;
  --brand-149: ";
  --brand-150: :;
  --brand-151: ";
  --brand-152: #;
  --brand-153: 0;
  --brand-154: 0;
  --brand-155: 3;
  --brand-156: 8;
  --brand-157: 6;
  --brand-158: 5;
  --brand-159: ";
  --brand-160: };
  --brand-161: ,;
  --brand-162: ";
  --brand-163: t;
  --brand-164: y;
  --brand-165: p;
  --brand-166: o;
  --brand-167: g;
  --brand-168: r;
  --brand-169: a;
  --brand-170: p;
  --brand-171: h;
  --brand-172: y;
  --brand-173: ";
  --brand-174: :;
  --brand-175: {;
  --brand-176: ";
  --brand-177: f;
  --brand-178: o;
  --brand-179: n;
  --brand-180: t;
  --brand-181: F;
  --brand-182: a;
  --brand-183: m;
  --brand-184: i;
  --brand-185: l;
  --brand-186: y;
  --brand-187: B;
  --brand-188: a;
  --brand-189: s;
  --brand-190: e;
  --brand-191: ";
  --brand-192: :;
  --brand-193: ";
  --brand-194: \;
  --brand-195: ";
  --brand-196: S;
  --brand-197: o;
  --brand-198: u;
  --brand-199: r;
  --brand-200: c;
  --brand-201: e;
  --brand-202:  ;
  --brand-203: S;
  --brand-204: a;
  --brand-205: n;
  --brand-206: s;
  --brand-207:  ;
  --brand-208: P;
  --brand-209: r;
  --brand-210: o;
  --brand-211: \;
  --brand-212: ";
  --brand-213: ,;
  --brand-214:  ;
  --brand-215: A;
  --brand-216: r;
  --brand-217: i;
  --brand-218: a;
  --brand-219: l;
  --brand-220: ,;
  --brand-221:  ;
  --brand-222: s;
  --brand-223: a;
  --brand-224: n;
  --brand-225: s;
  --brand-226: -;
  --brand-227: s;
  --brand-228: e;
  --brand-229: r;
  --brand-230: i;
  --brand-231: f;
  --brand-232: ";
  --brand-233: ,;
  --brand-234: ";
  --brand-235: f;
  --brand-236: o;
  --brand-237: n;
  --brand-238: t;
  --brand-239: S;
  --brand-240: i;
  --brand-241: z;
  --brand-242: e;
  --brand-243: B;
  --brand-244: a;
  --brand-245: s;
  --brand-246: e;
  --brand-247: ";
  --brand-248: :;
  --brand-249: ";
  --brand-250: 1;
  --brand-251: 6;
  --brand-252: p;
  --brand-253: x;
  --brand-254: ";
  --brand-255: ,;
  --brand-256: ";
  --brand-257: f;
  --brand-258: o;
  --brand-259: n;
  --brand-260: t;
  --brand-261: S;
  --brand-262: i;
  --brand-263: z;
  --brand-264: e;
  --brand-265: S;
  --brand-266: m;
  --brand-267: a;
  --brand-268: l;
  --brand-269: l;
  --brand-270: ";
  --brand-271: :;
  --brand-272: ";
  --brand-273: 1;
  --brand-274: 2;
  --brand-275: p;
  --brand-276: x;
  --brand-277: ";
  --brand-278: };
  --brand-279: };
}
