:root {
  --brand-breakpoints-desktop: 1024px;
  --brand-breakpoints-mobile: 480px;
  --brand-breakpoints-tablet: 768px;
  --brand-breakpoints-wide: 1280px;
  --brand-colors-background: #powel;
  --brand-colors-primary: #hello;
  --brand-colors-secondary: #lake;
  --brand-typography-font-family-base: "Source Sans Pro", Arial, sans-serif;
  --brand-typography-font-size-base: 16px;
  --brand-typography-font-size-small: 12px;
}
